<div class="test-example">
    <div expression="data.a + data.b == 3">Show if expression 'data.a + data.b == 3'</div>
    <div match="test-true" eq="true">Show if true</div>
    <div match="test-false" eq="false">Show if false</div>
    <div match="test-exists" exists="true">Show if exists</div>
    <div match="test-lt" lt="1">Show if value lt 1</div>
    <div match="test-lte" lte="1">Show if value lte 1</div>
    <div match="test-gt" gt="0">Show if value gt 0</div>
    <div match="test-gte" gte="0">Show if value gte 0</div>
</div>
